.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    background-color: var(--sidebar-background-color);
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    color: var(--text-primary-color);
}
